/* start of website css 1 */

#header1 {
   
    display:flex;
    background-color:purple;
    height:auto;
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* mobil version */
    z-index: 4;
    
   
}





/* for menu buttons for mobile (Start) */

.menu {
    height: 100vh;
    width: 80vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}


.show {
    left: 0;
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}


.menu-button {
    cursor: pointer;
    display:inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.menu-button i.shop-icon{
    font-size: 2.5rem;
}

#wrapper * {
    padding-top:0px;
}


#wrapper {
    margin-bottom: 10px;
    gap: 5px;
    margin-top:120px;
    display: grid;
    background-color:white;
    padding-top:0px;
    height: 100vh;
    grid-template-columns: 100% 100%;
    grid-template-rows: 10% 400px 30% 30% 30% 100px;
    grid-template-areas: 
    'nv nv'
    'ig ig'
    'sc1 sc2'
    'sc3 sc4'
    'sc5 sc5'
    'ft ft'
    ;
}

/* for menu buttons for mobile (end) */


/* generell kod */

#nav1 {
    grid-area:nv;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    color:white;
}





.igsec {
    grid-area: ig;
    background-color: white;
}

#section1 {
    grid-area: sc1;
    background-color: white;
    top:-10px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}



#section2 {
    grid-area: sc2;
    background-color: white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

#section3 {
    grid-area: sc3;
    background-color: white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

#section4 {
    grid-area: sc4;
    background-color: white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
}

#section5 {
    grid-area: sc5;
    background-color:white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;

}

#footer1 {
    grid-area: ft;
    background-color:purple;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.footer_image_fit {
    height:70px;
    width:120px;
}

.facebook_logo_fit {
    height:120px;
    width:120px;
}

.logo_fit {
    height:85px;
    width:150x;
}

#shoplogosize {
    height:55px;
    width:90px;
}

#picture_fit {
    /*size-adjust:auto; */
    height:100%;
    width:100%
}

#merchbuttonfit {
    border-radius:10%;
    width:300px;
    
}

#merchbuttonfit:hover {
    border-radius:10%;
    animation-name: sizechangeanimation;
    animation-duration: 2s;
    animation-iteration-count:1;
}

/* Animations section */

.Transitionsizeanimation {
    width:200px;
    border-radius:10%;
    transition:width 1s ease-out 100ms;
    
    
}

.Transitionsizeanimation:hover {
    width:225px;
}


@keyframes sizechangeanimation {
    100% {
        width:40%;
    }
}



/* Layout för mobil start här */

@media screen and (max-width: 580px) {
    #nav1 {
        display:none;
    }
    #picture_fit {
        
        position:relative;
        
    }
    #wrapper {
        grid-template-rows: 10% 400px 40% 40% 40% 100px;
        z-index:1;
        margin-top:20px;

    }

}


@media screen and (min-width: 580px) {
    #wrapper {
        grid-template-columns: 50% 50%;
    }
    
}