/* start of website css 1 */

#header1 {
   
    display:flex;
    background-color:purple;
    height:auto;
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* mobil version */
    
   
}

/* for menu buttons for mobile (Start) */

.menu {
    height: 100vh;
    width: 80vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}


.show {
    left: 0;
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}


.menu-button {
    cursor: pointer;
    display:inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.menu-button i.shop-icon{
    font-size: 2.5rem;
}
#wrapper {
    
    margin-top:120px;
    display: grid;
    background-color:white;
    height: 100vh;
    grid-template-columns: 100% 100%;
    grid-template-rows: 10% 400px 20% 20% 20% 80px;
    grid-template-areas: 
    'nv nv'
    'ig ig'
    'sc1 sc2'
    'sc3 sc4'
    'sc5 sc5'
    'ft ft'
    ;
}

/* for menu buttons for mobile (end) */

/* generell kod */

.igsec {
    grid-area: ig;
    background-color: black;
}

#section1 {
    grid-area: sc1;
    background-color: purple;
}

#section2 {
    grid-area: sc2;
    background-color: yellow;
}

#section3 {
    grid-area: sc3;
    background-color: red;
}

#section4 {
    grid-area: sc4;
    background-color: blue;
}

#section5 {
    grid-area: sc5;
    background-color:green;
}

.logo_fit {
    height:85px;
    width:150x;
}

#shoplogosize {
    height:55px;
    width:90px;
}

#picture_fit {
    size-adjust:auto;
}

